
.date-range .col-lg-6, .date-range .col-lg-12 {
  padding-left: 8px;
  padding-right: 8px;
}

.date-rangepick .form-group {
  margin-bottom: 16px;
}

.date-range.dropdown-menu {
  max-width: none;
  -webkit-box-shadow: none;
    box-shadow: none;
}

.date-range.opensleft .ranges,
.date-range.opensleft .calendar {
  float: left;
  margin: 16px;
}

.date-range.opensright .ranges,
.date-range.opensright .calendar {
  float: right;
  margin: 20px;
}

.date-range .ranges {
  width: 270px;
}

.date-range .calendar {
  display: none;
  max-width: 270px;
}

.date-range .calendar th,
.date-range .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}

.date-range .ranges label {
  display: block;
}

.date-range .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}

.date-range {
  position: fixed;
  top: 100px;
  left: 20px;
}

.date-range.opensleft:before {
  position: fixed;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.date-range.opensleft:after {
  position: fixed;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.date-range.opensright:before {
  position: fixed;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.date-range.opensright:after {
  position: fixed;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.date-range table {
  width: 100%;
  margin: 0;
}

.date-range td,
.date-range th {
  text-align: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.date-range td.off {
  color: #999;
}

.date-range td.disabled {
  color: #999;
}

.date-range td.available:hover,
.date-range th.available:hover {
  background: #f0ad4e;
  color: #fff;
}

.date-range td.in-range,
.date-range td.active {
  background-color: #428bca;
  color: #fff;
}

.date-range td.compare-to-in-range,
.date-range td.compare-to-active {
  background-color: #5cb85c;
  color: #fff;
}

.date-range td.in-range.compare-to-in-range {
  background-color: #5bc0de;
  color: #fff;
}

.date-range td.week,
.date-range th.week {
  font-size: 80%;
  color: #ccc;
}
